#!/bin/bash
# ~/.bashrc: executed by bash(1) for non-login shells.

# If not running interactively, don't do anything
[[ "$-" != *i* ]] && return

# Load shell helpers
source ~/.config/shell/shell-helpers.sh

log_debug "Loading .bashrc"

# Convert Windows paths to Unix paths using cygpath
{{- range $key, $value := .env_vars }}
export {{ $key }}="$(cygpath -u "{{ $.chezmoi.homeDir }}/{{ $value }}")"
{{- end }}

### ---- Windows Paths ------------------------------------
# Prioritize Windows GPG4Win over Git Bash GPG by putting it first in PATH
export PATH="/c/PROGRA~2/GnuPG/bin:${PATH}"
export PATH=${PATH}:${HOME}/bin
export PATH=${PATH}:${DEV_HOME}/bin
export PATH=${PATH}:${HOME}/.local/bin

# Set DEV_HOME for windows dev drive
export DEV_HOME="d:"

# Enable VS Code terminal suggestions
export VSCODE_SUGGEST=1

# don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
HISTCONTROL=ignoreboth

# append to the history file, don't overwrite it
shopt -s histappend

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=10000
HISTFILESIZE=10000

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# when changing directory small typos can be ignored by bash
# for example, cd /vr/lgo/apaache would find /var/log/apache
shopt -s cdspell

# windows can mangle some UTF-8 encoded text, causing unexpected characters to
# be displayed in your terminal.
/c/Windows/System32/chcp.com 65001 >/dev/null 2>&1

# link to .zsh folder for configs
export ZDOTDIR="$XDG_CONFIG_HOME"/zsh

export MSYS2_ARG_CONV_EXCL="/c/*;/home/*;~/*"

if [ -t 1 ]; then
    exec zsh
fi