{{- if eq .chezmoi.os "windows" -}}
pinentry-program C:/Program Files (x86)/GnuPG/bin/pinentry-basic.exe
{{- else -}}
pinentry-program /usr/bin/pinentry-curses
{{- end }}
default-cache-ttl 86400
max-cache-ttl 86400
default-cache-ttl-ssh 86400
max-cache-ttl-ssh 86400
allow-preset-passphrase